

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="bird.jpg" alt="POLLS" style="width:40px;">
  </a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/polls/sign_upview/">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/polls/log_inview/">Log_in</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="/polls/log_outview/">Log_out</a>
    </li>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">Welcome: {{user}}</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">

    <br><br>
    {% block content %}

    {% endblock %}

    <br><br><br><br>
    {% include 'inc.html' %}

</div>
</body>
</html>











